bin
*.jar
*.egg-info
*.pyo
*.pyc
ip_config
arp_cache
rtable.*
pox

# ignore all


# except the files I modify
!./src/edu/wisc/cs/sdn/vnet/

# except for the product files of ant
!./bin/
!*.jar

# ignore swp files
*.swp
*.swo
